<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Reservation Form</title>
</head>
<body>
    <div class="intro">
<h4>Please, enter reservation date and time:</h4>
<br/>
<div class="form">
<form th:method="POST" th:action="@{/reservation}" th:object="${reservation}">
    <label for="date">Enter date: </label>
    <br/>
    <input type="text" th:field="*{reservationDate}" id="date"/>
    <br/>
    <label for="time">Enter time: </label>
    <br/>
    <input type="text" th:field="*{reservationTime}" id="time"/>
</div>
<!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->
<!--    <br/>-->
<!--    <label for="surname">Enter surname: </label>-->
<!--    <input type="text" th:field="*{surname}" id="surname"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname error</div>-->
<!--    <br/>-->
<!--    <label for="birthDate">Enter birthday in mm.dd.yyyy format(OPTIONAL): </label>-->
<!--    <input type="text" th:field="*{birthDate}" id="birthDate"/>-->
<!--    <div  style="color: red" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">birtday error</div>-->
<!--    <br/>-->
<!--    <label for="email">Enter email: </label>-->
<!--    <input type="text" th:field="*{email}" id="email"/>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>-->
<!--    <br/>-->
    <div class="submitbtn">
        <a href="new.html"><input type="submit" value="SUBMIT"/></a>
    </div>
    </div>
</form>
</body>
</html>