body
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'American Typewriter', serif;
padding: 0;
margin: 0;
color: #333;
background: url("images/background.jpg") center ;
}



h1,h2,h4,h6
{
   
    margin: 0;
    z-index: 1000;
    padding-left: 15px;
}


h3{
    font: sans;
    font-weight: 100;
    font-style:italic ;
}


h5{
    padding-top: 100px;
    text-align: center;
    justify-self: center;
}

b{
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

p{
    padding-left: 50px;
}

a{
    color: #333;
    text-decoration: none;
    transition: color .2s linear;
}

a:hover{
    color:coral;
}

object{
    padding-left: 30px;
}

.header{
    
    background: url("images/green-slate.jpg");
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 50px;
}

.header_inner{
    color: aliceblue;
    display: flex;
    padding:0 10px;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.intro{
   
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    
}

.typesofplaces{
    margin-top: 200px;
    display: flex;
    justify-content: center;

}

.nav{
    text-transform: uppercase;
    font-size: 18px;  
}

img{
    padding-right: 25px;
}

.nav_link{
    color: #333;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    align-items: center;
    margin: 0 55px;
}

.greatings{
    padding-top: 100px;
}


.place{
    margin-top: 20px;
    max-width: 900px;
    max-height: 135px;
    display: flex;
   text-align: left;
    
    background-color: beige;
}

.btnhome{
    display: inline-block;
    padding: 0 15px;
    color: aliceblue;
}

.slider{
width: 100%;
height: 70px;
background: url(images/green-slate.jpg);
 display: flex;
 margin-top: 15px;
position: relative;
bottom: 0px;
 justify-content: center;
}

.slideritem{
    font-size: larger;
    margin-top: 20px;
    padding: 0 50px;
    color: aliceblue;
}

.inner{
font-family: 'Dancing Script', cursive;
    height: 600px;
    margin:100px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    background: url("https://i.pinimg.com/originals/4c/65/f9/4c65f913798dcd566fb929d0973a37e6.jpg");
}

.btn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .btn:hover {background-color: #3e8e41}
  
  .btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    font-size:18px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .containeradd{
    margin-top: 50px;
    width: 100%;
   
   
  }

  .inneradd{
   
    margin:100px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1500px;
   
  }

   .p2{
  font-family: 'Edu TAS Beginner', cursive;
   }

   .psuccess{
    font-family: 'Dancing Script', cursive;
    padding-top: 200px;
   }

   .ref{
    font-size: larger;
    margin-top: 20px;
    position: absolute;
    left: 50px;
    color: aliceblue;
   }

.footer{
    background: url(images/green-slate.jpg);
    height: 60px;
    width: 100%;
    display: flex;
    font-size: larger;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0px;
}

